<section class="form-section">
  <h2 class="form-header">Invite user to <%= @organization.name %></h2>

  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.hidden_field :organization_id, value: @organization.id %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <% resource.class.invite_key_fields.without(:organization_id).each do |field| %>
      <div class="form-field">
        <%= f.label field %><br />
        <%= f.text_field field, class: "form-input" %>
      </div>
    <% end %>

    <div class="form-footer">
      <%= f.submit t("devise.invitations.new.submit_button"), class: "form-submit" %>
      <%= link_to "Cancel", organization_path(@organization), class: "secondary-button ml-2" %>
    </div>
  <% end %>

</section>