<section class="form-section">
  <h2 class="form-header">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: { method: :put, class: "default-form" }) do |f|
  %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-input"  %>
    </div>

    <div class="form-field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-input"  %>
    </div>

    <div class="form-field">
      <%= f.label :current_password %>
      <i class="form-hint">(we need your current password to confirm your changes)</i>

      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-input" %>
    </div>

    <div class="form-field">
      <%= f.label :password %>
      <i class="form-hint">(leave blank if you don't want to change it)</i>

      <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>

      <% if @minimum_password_length %>
        <p class="form-hint"><%= @minimum_password_length %> characters minimum</p>
      <% end %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
    </div>

    <div class="form-footer">
      <%= f.submit "Update", class: "form-submit" %>
    </div>
  <% end %>
</section>

<div class="mt-10 text-center text-sm text-gray-500">
  Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), form: { data: { turbo_confirm: "Are you sure? Your user account will be immediately removed and you will be signed out!" }, class: "inline-block" }, method: :delete %>
</div>