<%= turbo_frame_tag "object_comments" do %>
  <%= turbo_stream_from ["object_comments", @resource] %>

  <div class="m-3 flex flex-col gap-3">
    <% @comments.each do |comment| %>
      <%= render partial: "comment", locals: { comment: comment, resource: @resource, space: @resource.space } %>
    <% end %>

    <%= turbo_frame_tag ObjectComment.new %>

    <%= turbo_frame_tag "add_object_comment" do %>
      <%= link_to(
        new_comment_path(object_gid: @resource.to_gid_param),
        data: { turbo_frame: dom_id(ObjectComment.new) },
        class: "secondary-button gap-1"
      ) do
      %>
        <i class="fa fa-comment"></i>
        Comment
      <% end %>
    <% end %>
  </div>
<% end %>