<% content_for :content_menu do %>
  <%= link_to "View current version",
    document_path(@document),
    class: "link-button before:icon-[heroicons--arrow-uturn-left-16-solid] before:mr-1" %>
<% end %>

<% content_for :content_sidebar do %>
  <div class="mt-2 flex items-center px-3 border-b">
    <span class="self-center text-lg font-semibold whitespace-nowrap mb-2 truncate">
      <i class="fa-regular fa-rectangle-history"></i>
      Historical versions
    </span>
  </div>

  <% @versions.each do |version| %>
    <%= link_to document_version_path(@document, version) do %>
      <%= tag.div(class: {
        "flex flex-row" => true,
        "bg-blue-100 hover:bg-blue-200 active:bg-blue-300 dark:bg-blue-900 dark:hover:bg-blue-800 dark:active:bg-blue-700" => @version == version,
        "hover:bg-gray-100 active:bg-gray-200 dark:hover:bg-gray-800 dark:active:bg-gray-700" => @version != version,
      }) do %>
        <div class="<%= @version == version ? "bg-blue-500 dark:!bg-blue-400" : "" %> w-1"></div>
        <div class="whitespace-nowrap px-2 py-5 text-base text-slate-500">
          <% if version.created_by.blank? %>
            <div title="Deleted user" class="w-8 h-8 bg-gray-200 rounded-full flex items-center justify-center font-bold">
              ?
            </div>
          <% else %>
            <%= render UserAvatar.new(user: version.created_by, organization: current_organization) %>
          <% end %>
        </div>
        <div class="p-2">
          <div class="font-bold">Version <%= version.sequential_id %></div>
          <div class="<%= version.created_by.blank? ? "text-slate-500 italic" : "" %>"><%= version.created_by&.display_name || "Deleted user" %></div>
          <div title="<%= version.created_at %>"><%= time_ago_in_words version.created_at %> ago</div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<article class="flex flex-col">
  <%= react_component "ShowDocumentVersionPanel", {
    version: @version.attributes.except("id"),
    document: @document.to_react_props,
    space: @space.to_react_props,
    current_user: current_user,
    features: enabled_feature_names,
  } %>
</article>
