<% document = @documents.find { |document| document.id == document_id } %>
<% if document.present? %>
  <% if document.archived %>
    <div data-visibility-target="hideable" <%= cookies["ikigai_userPreferences_showArchived"] == "true" ? "" : "hidden" %> class="text-slate-400">
  <% else %>
    <div class="text-slate-800">
  <% end %>
      <%= link_to edit_space_document_path(@space, document), class: "flex items-center" do %>
        <div style="padding-left: <%=level * 16%>px" class="document-padding-left flex-grow flex items-center <%= @document == document ? "bg-blue-100 hover:bg-blue-200 active:bg-blue-300" : "hover:bg-gray-100 active:bg-gray-200" %>">
          <% if has_children %>
            <div data-action="click->collapsible#toggle:prevent" class="size-6">
              <div data-collapsible-target="icon" class="icon-[heroicons--chevron-right-16-solid] size-4 m-1 transition-transform"></div>
            </div>
          <% else %>
            <div class="size-8 pt-1 ml-2.5 -mr-[1.125rem]">•</div>
          <% end %>
          <div data-document-id="<%= document.id %>" class="text-left mx-0 p-2">
            <%= document.title %>
          </div>
        </div>
      <% end %>
  </div>
<% end %>
