<tr id="<%= dom_id(space) %>">
  <th scope="row">
    <div class="text-base font-semibold truncate">
      <%= render ObjectIcon.new(object: space) %>
      <%= space.try(:title_emojiless) || space.try(:title) %>
    </div>
  </th>
  <td>
    <% if policy(space).update? %>
      <%= link_to "Edit", edit_space_path(space), class: "link-button" %>
    <% end %>

    <%= link_to "Open", space_path(space), class: "link-button" %>
  </td>
</tr>