<section class="form-section">
  <h2 class="form-header">Edit space</h2>

  <%= turbo_frame_tag("edit_space_form") do %>
    <%= form_for(@space) do |f| %>
      <%= render "devise/shared/error_messages", resource: @space %>

      <div class="form-field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus: true, class: "form-input" %>
      </div>

      <div class="form-field">
        <%= f.label :access_mode %><br/>
        <%= f.collection_select :access_mode, Space.access_modes.to_a, :first, :first, class: "form-input" %>
      </div>

      <div class="flex justify-end mt-6">
        <%= f.submit "Save", class: "form-submit" %>
      </div>
    <% end %>
  <% end %>
</section>