<%= turbo_frame_tag "left_sidebar_content", data: { turbo_action: "advance" } do %>
  <div class="px-4 pb-0 flex flex-col h-full">
    <%= render partial: "spaces/_sidebar/space_bar" %>

    <div class="flex flex-col h-full" data-controller="visibility" data-action="toggle-button:change->visibility#onChange">
      <div class="section-header-container">
        <div class="section-header-title">
          <i class="fa-regular fa-file-lines"></i>
          Documents
        </div>

        <%= button_to space_documents_path(@space),
          method: :post,
          params: { "document": { title: "" } },
          disabled: !policy(@space).update?,
          form_class: "flex items-center",
          class: "secondary-button" do
        %>
          <i class="fa-regular fa-plus"></i>
        <% end %>
      </div>

      <div class="section-content-container">
        <div class="section-empty hidden">No documents in this space</div>

        <ul class="section-content-list" data-controller="draggable" data-draggable-target="item" data-space-npi="<%= @space.npi %>">
          <%= render partial: "spaces/_sidebar/hierarchy_node", locals: { node: @space.hierarchy, level: 0 } %>
        </ul>
      </div>

      <div class="section-header-container">
        <div class="section-header-title">
          <i class="fa-regular fa-table"></i>
          Tables
        </div>

        <%= link_to_with_disable new_space_table_path(@space),
          disabled: !policy(@space).update?,
          class: "secondary-button" do
        %>
          <i class="fa-regular fa-plus"></i>
        <% end %>
      </div>

      <div class="section-content-container">
        <div class="section-empty hidden">No tables in this space</div>

        <ul class="section-content-list">
          <% @tables.each do |table| %>
            <% if table.id.to_s == params.dig(:object, :id) && table.class.to_s == params.dig(:object, :type) %>
              <% selected = true %>
            <% end %>

            <li class="section-content-link-container group/section-content-link-container">
              <%=
                render partial: "spaces/_sidebar/content_link",
                  locals: { content: table, level: 0, has_children: false, selected: selected }
              %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="mt-auto self-end">
        <div class="flex items-center my-4">
          <span class="mr-2">Show archived:</span>
          <%= render partial: "application/components/toggle_button", locals: { checked: cookies["ikigai_userPreferences_showArchived"] == "true" } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
