<tr id="<%= dom_id(api_token) %>">
  <th scope="row">
    <div>
      <div class="text-base font-semibold truncate"><%= api_token.title.presence || "Untitled" %></div>
      <div class="font-normal text-gray-500"><%= api_token.encrypted_token.first(4) %>...</div>
    </div>
  </th>
  <td>
    <div class="text-base font-semibold"><%= api_token.created_at %></div>
    <div class="font-normal text-gray-500"><%= time_ago_in_words api_token.created_at %> ago</div>
  </td>
  <td>
    <% if api_token.used_at.present? %>
      <div class="text-base font-semibold"><%= api_token.used_at %></div>
      <div class="font-normal text-gray-500"><%= time_ago_in_words api_token.used_at %> ago</div>
    <% else %>
      <div class="text-base font-semibold">Unused</div>
    <% end %>
  </td>
  <td>
    <%= button_to "Delete",
      user_api_token_path(current_user, api_token),
      method: :delete,
      class: "link-button",
      form: { data: { turbo_confirm: 'Are you sure? Removing API Token might break existing integrations.' } },
      disabled: !policy(api_token).destroy?
    %>
  </td>
</tr>