<%= turbo_frame_tag "modal" do %>
  <%= form_for(@api_token, url: user_api_tokens_path(current_user),
    html: { class: "default-form" },
    data: { turbo: false, controller: "prevent-double-submit" }) do |f|
  %>
    <% content_for :modal_icon do %>
      <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
      </svg>
    <% end %>

    <% content_for :modal_title do %>
      Save API Token
    <% end %>

    <% content_for :modal_main_content do %>
      <p class="mt-2">
        Save your API Token, it's the only place you will be able to see it.
      </p>

      <div class="form-field">
        <%= f.label :encrypted_token, "API Token" %>
        <div class="flex flex-row items-center gap-2">
          <%= f.text_field :encrypted_token, autofocus: true, readonly: true, class: "form-input mt-0 h-10" %>
          <button type="button" title="Copy to clipboard" class="secondary-button px-2 shadow-md h-10"
                  data-controller="clipboard" data-clipboard-success-content-value="Copied!" data-clipboard-target="button"
                  data-action="clipboard#copy">
            <span class="icon-[heroicons--clipboard] size-6"></span>
            <span class="hidden" data-clipboard-target="source">
              <%= @api_token.encrypted_token %>
            </span>
          </button>
        </div>

      </div>
    <% end %>

    <% content_for :modal_buttons do %>
      <button type="button" data-action="modal#close" class="modal-submit-button form-submit">Close</button>
    <% end %>

    <%= render template: "application/components/modal_content" %>
  <% end %>
<% end %>
