<%= turbo_stream_from [current_organization, current_user, :api_tokens_list] %>

<% content_for :focused_header do %>
  API Tokens
<% end %>

<% content_for :focused_header_buttons do %>
  <div class="mt-4 flex md:ml-4 md:mt-0 gap-2">
    <%= link_to "Connected Apps",
      oauth_authorized_applications_path,
      class: "secondary-button"
    %>
    <% if policy(ApiToken).create? %>
      <%= link_to "Create",
        new_user_api_token_path(current_user),
        class: "secondary-button",
        data: { turbo_frame: "modal", action: "modal#open" }
      %>
    <% end %>
  </div>
<% end %>

<% content_for :focused_content do %>
  <div class="table-legend">
    <div class="table-legend-description">
      <p>A list of all API tokens you created for this organization.</p>
    </div>
  </div>

  <%= render partial: "api_tokens/api_tokens_table" %>
<% end %>

<%= render "focused_section" %>