<%= turbo_frame_tag "modal" do %>
  <%= form_for(@api_token, url: user_api_tokens_path(current_user),
    html: { class: "default-form" },
    data: { controller: "prevent-double-submit" }) do |f|
  %>
    <% content_for :modal_title do %>
      Create API Token
    <% end %>

    <% content_for :modal_main_content do %>
      <%= f.hidden_field :encrypted_token, value: @api_token.encrypted_token %>

      <%= render "devise/shared/error_messages", resource: @api_token %>

      <div class="form-field">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: "form-input" %>
      </div>
    <% end %>

    <% content_for :modal_buttons do %>
      <button type="submit" class="modal-submit-button form-submit">Create</button>
      <button type="button" data-action="modal#close" class="modal-cancel-button">Cancel</button>
    <% end %>

    <%= render template: "application/components/modal_content" %>
  <% end %>
<% end %>
