<tr id="<%= dom_id(user) %>">
  <th scope="row">
    <div>
      <div class="text-base font-semibold"><%= user.first_name %> <%= user.last_name %></div>
      <div class="font-normal text-gray-500"><%= user.email %></div>
    </div>
  </th>
  <td>
    <%= render partial: "users/online_status", locals: { current_organization: current_organization, user: user } %>
  </td>
</tr>