<%= turbo_stream_from [@space, @automation, :invocations] %>

<% content_for :focused_breadcrumbs do %>
  <li>
    <div class="flex">
      <a href="#" class="text-sm font-medium text-gray-500 hover:text-gray-700">
        <%= link_to "Automations", space_automations_path(@space) %>
      </a>
    </div>
  </li>
<% end %>

<% content_for :focused_header do %>
  <%= @automation.title %>
<% end %>

<% content_for :focused_header_buttons do %>
  <% if policy(@automation).update? && policy(@automation).destroy? %>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <% content_for :button_group_primary_buttons do %>
        <%= link_to 'Edit', edit_space_automation_path(@automation.space, @automation), class: "first-button-group" %>
      <% end %>

      <% content_for :button_group_dropdown_menu do %>
        <%= button_to "Delete", space_automation_path(@automation.space, @automation), form: { data: { turbo_confirm: "Are you sure? Your automation will be immediately removed!" } }, data: {"dropdown-target" => "menuItem"}, role: "menuitem", tabindex: "-1", method: :delete %>
      <% end %>

      <%= render template: "application/components/button_group"%>
    </div>
  <% end %>
<% end %>

<% content_for :focused_content do %>
  <p>
    Send data with a following command to test your automation:
  </p>

  <div class="example-code-container">
    <pre><code>FUNDAMENTO_API_TOKEN="TOKEN"; curl -X POST <%= api_v1_automation_invocations_url(@automation) %> \
  -H "Content-Type: application/json" \
  -H "Authorization: Bearer $FUNDAMENTO_API_TOKEN" \
  -d '{"test": 1}'</code></pre>
  </div>

  <p>
    Visit <%= link_to "API Tokens", user_api_tokens_path(current_user) %> to create API credentials.
  </p>

  <div class="table-legend">
    <div class="table-legend-description">
      <h1>Invocations</h1>
      <p>A list of recent invocations of this automation.</p>
    </div>
  </div>

  <table class="table-list">
    <thead>
    <tr>
      <th scope="col">
        Time
      </th>
      <th scope="col">
        Result
      </th>
      <th scope="col">
        Formula
      </th>
    </tr>
    </thead>
    <tbody id="automation_invocations">
    <% @automation.invocations.recently_invoked.each do |invocation| %>
      <%= render partial: "automations/invocation", locals: { automation_invocation: invocation, automation: @automation } %>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= render partial: "focused_section" %>