<%= turbo_stream_from ["document_import", @document_import] %>

<% content_for :focused_content do %>
  <% if @document_import.successful? %>
    <div class="text-center mt-10">
      <i class="fa-regular fa-file-lines text-gray-400 fa-3x"></i>

      <h3 class="mt-2 text-sm font-semibold">Document was imported</h3>
      <p class="mt-1 text-sm text-gray-500">
        <span class="border rounded p-0.5"><%= @document_import.filename %></span> was imported successfully.
      </p>

      <div class="mt-6">
        <%= link_to "View document", document_path(@document_import.document), class: "inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    </div>
  <% else %>
    <div class="text-center mt-10">
      <i class="fa-regular fa-spinner fa-spin text-gray-400 fa-3x"></i>

      <h3 class="mt-2 text-sm font-semibold">Document is being imported</h3>
      <p class="mt-1 text-sm text-gray-500">
        Please wait while <span class="border rounded p-0.5"><%= @document_import.filename %></span> is being imported. You will be redirected to the document once it is ready.
      </p>

      <div class="mt-6">
        <%= link_to "See other imports", imports_path, class: "inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render "focused_section" %>