<%= tag.div(
  hidden: content.archived? && cookies["ikigai_userPreferences_showArchived"] != "true",
  class: {
    "content-link-container group" => true,
    "archived" => content.archived?,
    "selected" => selected,
  },
  data: {"visibility-target" => content.archived? ? "hideable" : nil },
) do %>
  <%= link_to polymorphic_path([content.space, content]), class: "content-link" do %>
    <%= tag.div(
      style: "padding-left: #{level * 16}px",
      class: "document-padding-left flex items-center w-full",
    ) do %>
      <%= tag.div(
        data: {  "action" => "click->collapsible#toggle:prevent"  },
        class: {
          "multi-items-expander size-6 ml-1" => true,
          "hidden" => !has_children,
        }
      ) do %>
        <div data-collapsible-target="icon" class="icon-[heroicons--chevron-right-16-solid] size-4 m-1 transition-transform"></div>
      <% end %>

      <%= tag.div("•", class: {
        "single-item-dot pt-1 mx-2.5 -mt-[0.3rem]" => true,
        "hidden" => has_children,
      } ) %>

      <div data-document-id="<%= content.id %>" class="flex flex-grow min-w-0 gap-1 mx-0 p-2 items-center">
        <span class="truncate">
          <%= content.try(:title) || content.try(:name) %>
        </span>

        <% if content.try(:draft?) %>
          <span class="draft-lozenge">Draft</span>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= link_to polymorphic_path([:edit, content.space, content]),
    class: {
      "edit-button-container" => true,
      "selected" => selected,
    } do %>
    <div class="edit-button"></div>
  <% end %>
<% end %>