<% (node || []).each do |item| %>
  <% document = @documents.find { |document| document.id == item["id"] } %>

  <% if document.present? %>
    <% if document.id.to_s == params.dig(:object, :id) && document.class.to_s == params.dig(:object, :type) %>
      <% selected = true %>
    <% end %>

    <li
      data-controller="collapsible<%= selected ? " scroll-into-view" : "" %>"
      data-space-id="<%= @space.id %>"
      data-collapsible-expand-to-this="<%= selected %>"
      class="relative group/table-item-link"
    >
      <%=
        render partial: "spaces/_sidebar/document_link",
          locals: { document: document, level: level, has_children: item["children"].length > 0, selected: selected }
      %>

      <ul
        data-collapsible-target="collapsible"
        data-draggable-target="item"
        data-document-id="<%= item["id"] %>" class="overflow-hidden max-h-0"
      >
        <%= render partial: "spaces/_sidebar/hierarchy_node", locals: { node: item["children"], level: level + 1 } %>
      </ul>
    </li>
  <% end %>
<% end %>
