<% object = favorite.object %>

<div id="<%= dom_id(favorite) %>" class="flex items-start justify-start w-full">
  <div class="p-2 flex-grow flex items-start gap-3">
    <div>
      <%= render ObjectIcon.new(object: object) %>
    </div>
    <div>
      <div class="text-base font-semibold">
        <%= link_to object.try(:title_emojiless) || object.try(:title),
                    polymorphic_path([object]),
                    data: { turbo_frame: "content" } %>
      </div>
      <div class="font-normal text-gray-500 dark:text-gray-400">
        Last updated <%= time_ago_in_words object.updated_at %>
      </div>
    </div>
  </div>

  <%= button_to favorite_path(favorite),
    method: :delete,
    class: "secondary-button" do
  %>
    <i class="fa-regular fa-trash-can"></i>
  <% end %>
</div>
