<%= form_for(document, url: move_document_path, method: :post, data: { controller: "prevent-double-submit" }) do |f| %>
  <% content_for :modal_icon do %>
    <svg class="h-6 w-6 text-red-600 dark:text-red-200" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
    </svg>
  <% end %>

  <% content_for :modal_title do %>
    Move document
  <% end %>

  <% content_for :modal_main_content do %>
    <p class="modal-subtitle">
      Select the space where you want to move the document.
    </p>

    <%= render "devise/shared/error_messages", resource: document %>

    <div class="form-field">
      <%= f.label :space %><br>
      <%= f.collection_select :space_id, policy_scope(current_organization.spaces).without(document.space).order(:name), :id, :name, {}, class: "form-input" %>
    </div>
  <% end %>

  <% content_for :modal_buttons do %>
    <button type="submit" class="modal-submit-button danger-button">Move</button>
    <button type="button" data-action="modal#close" class="modal-cancel-button secondary-button">Cancel</button>
  <% end %>

  <%= render template: "application/components/modal_content" %>
<% end %>
