<div class="h-full grid grid-cols-[minmax(10px,300px)_minmax(10px,_3fr)]">
  <%= render 'application/left_side_bar' %>
  <article class="flex-col overflow-auto">
    <div class="bg-white h-12 flex justify-end items-center p-2">
      <div id="editor-connection-indicator"></div>
      <%= button_to "Save this as version", space_document_versions_path(@space, @document), method: :create,
                    params: {blocks: ""},
                    :onclick => "this.form.elements['blocks'].value = JSON.stringify(window.blockNoteEditor?.document);",
                    class: "document-toolbar-button" %>
      <%= button_to "Document history", space_document_version_path(@space, @document, @document.versions.latest), method: :get,
                    disabled: @document.versions.latest.blank?,
                    title: @document.versions.latest.blank? ? "No document history yet, save a version first" : nil,
                    class: "document-toolbar-button" %>

      <% if @document.archived %>
        <%= button_to "Restore", space_document_path(@space, @document), method: :put,
                      params: {document: {archived: false}},
                      form: {data: {turbo_confirm: 'Restore this document? This will make it visible in the default view.'}},
                      class: "document-toolbar-button" %>
      <% else %>
        <%= button_to "Archive", space_document_path(@space, @document), method: :put,
                      params: {document: {archived: true}},
                      form: {data: {turbo_confirm: 'Mark this document as archived? This will hide if from default view.'}},
                      class: "document-toolbar-button" %>
      <% end %>

      <%= button_to "Delete", space_document_path(@space, @document), method: :delete,
                    form: {data: {turbo_confirm: 'Are you sure? Deleted document cannot be restored.'}},
                    class: "document-toolbar-button" %>

      <div
        data-controller="dropdown"
        data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.esc->dropdown#hide"
        class="inline-block relative">

        <%= render partial: "public_links/document_share_button", locals: { public_link_exists: @document.public_link.present? } %>

        <div data-dropdown-target="menu" class="hidden absolute top-5 right-0 z-10 mt-5 flex w-screen max-w-max">
          <div class="text-sm bg-white shadow-lg rounded border overflow-hidden w-90">
            <%= turbo_frame_tag "document_share_dropdown", src: @document.public_link.present? ? public_link_path(@document.public_link, format: "turbo_stream") : new_public_link_path(public_link: { object_type: @document.class, object_id: @document.id }, format: "turbo_stream"), loading: "lazy" %>
          </div>
        </div>
      </div>

    </div>
    <div class="bg-white overflow-auto">
      <%= react_component "EditDocumentPanel", {document: @document.attributes.except("sync"), space: @space, current_user: current_user} %>
    </div>
  </article>
</div>
