<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="h-full grid grid-cols-[minmax(10px,300px)_minmax(10px,_3fr)]">
  <%= render 'application/left_side_bar_for_documents' %>

  <article class="document">

    <div class="h-12 flex justify-end items-center p-2">
      <div id="editor-connection-indicator"></div>

      <%= button_to "Edit", edit_space_document_path(@space, @document), method: :get,
                    disabled: !policy(@document).update?,
                    class: "primary-button document-toolbar-button" %>

      <div
        data-controller="dropdown"
        data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.esc->dropdown#hide"
        class="inline-block relative">

        <%= render partial: "public_links/document_share_button", locals: { public_link_exists: @document.public_link.present? } %>

        <div
          data-dropdown-target="menu"
          class="hidden absolute top-5 right-0 z-10 mt-5 flex w-screen max-w-max"
          role="dialog"
          aria-orientation="vertical"
          aria-labelledby="document_share_button">
          <div class="dropdown-container w-90">
            <%= turbo_frame_tag "document_share_dropdown", src: @document.public_link.present? ? public_link_path(@document.public_link, format: "turbo_stream") : new_public_link_path(public_link: { object_type: @document.class, object_id: @document.id }, format: "turbo_stream"), loading: "lazy" %>
          </div>
        </div>
      </div>

      <%= render partial: "document_menu", locals: { space: @space, document: @document } %>
    </div>

    <div class="overflow-auto h-[calc(100%-48px)]">
      <%= react_component "ShowDocumentPanel", {document: @document.attributes.except("sync"), space: @space, current_user: current_user} %>
    </div>
  </article>
</div>
