<%= turbo_frame_tag :content_sidebar do %>
  <div
    class="content-sidebar-tabs"
    data-controller="tabs"
    data-tabs-active-tab-class="active-tab"
  >
    <div class="border-b">
      <nav data-tabs-target="list" aria-label="Tabs">
        <button id="table_of_contents" data-action="click->tabs#change" data-tabs-target="tab"
                class="flex flex-row items-center"
        >
          <%= render Object::SidebarTabIcon.new(label: "Structure") do %>
            <span class="size-6 icon-[heroicons--clipboard-document-list]"></span>
          <% end %>
        </button>

        <button id="details" data-action="click->tabs#change" data-tabs-target="tab">
          <%= render Object::SidebarTabIcon.new(label: "Details") do %>
            <i class="fa-regular fa-memo-circle-info"></i>
          <% end %>
        </button>

        <button id="visitors" data-action="click->tabs#change" data-tabs-target="tab">
          <%= render Object::SidebarTabIcon.new(label: "Visitors") do %>
            <i class="fa-regular fa-screen-users"></i>
          <% end %>
        </button>

        <button id="connections" data-action="click->tabs#change" data-tabs-target="tab">
          <%= render Object::SidebarTabIcon.new(label: "Connections") do %>
            <i class="fa-regular fa-chart-network"></i>
          <% end %>
        </button>

        <button id="attachments" data-action="click->tabs#change" data-tabs-target="tab">
          <%= render Object::SidebarTabIcon.new(label: "Attachments") do %>
            <i class="fa-regular fa-paperclip"></i>
          <% end %>
        </button>
      </nav>
    </div>

    <div data-tabs-target="panel" class="hidden max-h-0">
      <%= turbo_frame_tag "table_of_contents_sidebar_tab", data: { turbo: false }, src: polymorphic_path([:sidebar, @document], tab: :table_of_contents) do %>
        <%= render Object::SidebarLoadingComponent.new %>
      <% end %>
    </div>

    <div data-tabs-target="panel" class="hidden max-h-0">
      <%= turbo_frame_tag "details_sidebar_tab", loading: "lazy", data: { turbo: false }, src: polymorphic_path([:sidebar, @document], tab: :details) do %>
        <%= render Object::SidebarLoadingComponent.new %>
      <% end %>
    </div>

    <div data-tabs-target="panel" class="hidden max-h-0">
      <%= turbo_frame_tag "visitors_sidebar_tab", loading: "lazy", data: { turbo: false }, src: polymorphic_path([:sidebar, @document], tab: :visitors) do %>
        <%= render Object::SidebarLoadingComponent.new %>
      <% end %>
    </div>

    <div data-tabs-target="panel" class="hidden max-h-0">
      <%= turbo_frame_tag "connections_sidebar_tab", loading: "lazy", data: { turbo: false }, src: polymorphic_path([:sidebar, @document], tab: :connections) do %>
        <%= render Object::SidebarLoadingComponent.new %>
      <% end %>
    </div>

    <div data-tabs-target="panel" class="hidden max-h-0">
      <%= turbo_frame_tag "attachments_sidebar_tab", loading: "lazy", data: { turbo: true }, src: polymorphic_path([:sidebar, @document], tab: :attachments) do %>
        <%= render Object::SidebarLoadingComponent.new %>
      <% end %>
    </div>
  </div>
<% end %>
