<%= turbo_frame_tag :content_sidebar do %>
  <div
    class="content-sidebar-tabs"
    data-controller="tabs"
    data-tabs-active-tab-class="active-tab"
  >
    <div class="border-b border-gray-200">
      <nav data-tabs-target="list" aria-label="Tabs">
        <button id="table_of_contents" data-action="click->tabs#change" data-tabs-target="tab"
                class="flex flex-row items-center"
        >
          <span class="size-6 icon-[heroicons--clipboard-document-list]"></span>
          <span>Structure</span>
        </button>

        <button id="details" data-action="click->tabs#change" data-tabs-target="tab">
          <i class="fa-regular fa-memo-circle-info"></i>
          Details
        </button>

        <button id="visitors" data-action="click->tabs#change" data-tabs-target="tab">
          <i class="fa-regular fa-screen-users"></i>
          Visitors
        </button>

        <button id="connections" data-action="click->tabs#change" data-tabs-target="tab">
          <i class="fa-regular fa-chart-network"></i>
          Connections
        </button>
      </nav>
    </div>

    <div data-tabs-target="panel" class="hidden max-h-0">
      <%= turbo_frame_tag "table_of_contents_sidebar_tab", data: { turbo: false }, src: polymorphic_path([:sidebar, @document], tab: :table_of_contents) do %>
        <%= render SidebarLoadingComponent.new %>
      <% end %>
    </div>

    <div data-tabs-target="panel" class="hidden max-h-0">
      <%= turbo_frame_tag "details_sidebar_tab", loading: "lazy", data: { turbo: false }, src: polymorphic_path([:sidebar, @document], tab: :details) do %>
        <%= render SidebarLoadingComponent.new %>
      <% end %>
    </div>

    <div data-tabs-target="panel" class="hidden max-h-0">
      <%= turbo_frame_tag "visitors_sidebar_tab", loading: "lazy", data: { turbo: false }, src: polymorphic_path([:sidebar, @document], tab: :visitors) do %>
        <%= render SidebarLoadingComponent.new %>
      <% end %>
    </div>

    <div data-tabs-target="panel" class="hidden max-h-0">
      <%= turbo_frame_tag "connections_sidebar_tab", loading: "lazy", data: { turbo: false }, src: polymorphic_path([:sidebar, @document], tab: :connections) do %>
        <%= render SidebarLoadingComponent.new %>
      <% end %>
    </div>
  </div>
<% end %>
