<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<% content_for :content_menu do %>
  <% if (favorite = pundit_user.organization_membership.favorites.find_by(object: @table)) %>
    <%= render partial: "favorites/destroy_favorite", locals: { object: @table, favorite: favorite } %>
  <% else %>
    <%= render partial: "favorites/create_favorite", locals: { object: @table } %>
  <% end %>

  <% has_permission_to_edit = policy(@table).update? %>

  <div data-controller="popover" class="relative">
    <%= button_to edit_table_path(@table),
      method: :get,
      id: dom_id(@table, :edit),
      disabled: !has_permission_to_edit,
      class: "primary-button document-toolbar-button edit-table-button",
      form: { data: { action: "mouseenter->popover#show mouseleave->popover#hide" } },
      aria: { label: "Edit table" } do
    %>
      <i class="fa-regular fa-pencil"></i>
    <% end %>

    <template data-popover-target="content">
      <div data-popover-target="card" class="popover-tooltip-card m-1">
        <% if has_permission_to_edit %>
          <p>Edit <code>E</code></p>
        <% else %>
          <p>You lack permission to edit this table</p>
        <% end %>
      </div>
    </template>
  </div>

  <% if has_permission_to_edit %>
    <% add_palette_command id: "edit_table",
      title: "Edit table",
      section: "Actions",
      hotkey: "e",
      handler: "document.querySelector('##{ dom_id(@table, :edit) }').click()",
      icon: '<svg xmlns="http://www.w3.org/2000/svg" class="ninja-icon" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m16.862 4.487l1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8l.8-2.685a4.5 4.5 0 0 1 1.13-1.897zm0 0L19.5 7.125"/></svg>'
    %>
  <% end %>

  <%= render partial: "content/document_menu", locals: { space: @space, content: @table } %>
<% end %>

<article class="document">
  <%= react_component "ViewTablePanel", {
    table: @table,
    space: @space.to_react_props
  }, {
    data: @table.data_to_json(
      evaluate_formulas: true,
      evaluate_as: current_organization_membership,
    )
  } %>
</article>

<%= turbo_frame_tag @table, :reactions, src: reactions_path(object_gid: @table.to_gid_param), loading: "lazy" %>

<%= render partial: "comments/frames", locals: { resource: @table } %>
