<div class="rounded-xl border flex flex-col bg-gray-100 pt-3">
  <div class="flex flex-row gap-3 pl-3 pb-3">
    <div>
      <%= render OrganizationUserAvatarComponent.new(organization_user: comment.organization_user) %>
    </div>
    <div class="flex flex-col">
      <span class="font-semibold"><%= comment.organization_user.display_name %></span>
      <%= time_ago_in_words comment.created_at %>
    </div>
  </div>

  <div>
    <%= react_component "EditCommentPanel", {
      document: document.attributes.except("sync"),
      comment: comment.content,
      editable: false,
      space: space.to_react_props,
    } %>
  </div>

  <%= turbo_frame_tag comment, :reactions, src: reactions_path(object_type: comment.class.to_s, object_id: comment.id), loading: "lazy" %>
</div>