<%= turbo_frame_tag "object_comments" do %>
  <%= turbo_stream_from ["object_comments", resource] %>

  <div class="m-3 flex flex-col gap-3">
    <% @comments.each do |comment| %>
      <div class="rounded-b border">
        <%= react_component "EditCommentPanel", {
          document: @document.attributes.except("sync"),
          comment: comment.comment,
          editable: false,
          space: @space.to_react_props,
        } %>
      </div>
    <% end %>

    <%= turbo_frame_tag ObjectComment.new %>

    <%= turbo_frame_tag "add_object_comment" do %>
      <%= link_to "Add comment",
        new_resource_comment_path(resource),
        data: { turbo_frame: dom_id(ObjectComment.new) },
        class: "primary-button"
      %>
    <% end %>
  </div>
<% end %>