<%= turbo_frame_tag "object_comments" do %>
  <%= turbo_stream_from ["object_comments", resource] %>

  <div class="m-3 flex flex-col gap-3">
    <% @comments.each do |comment| %>
      <div class="rounded-b border p-3">
        <%= button_to resource_comment_path(resource, comment),
          method: :delete,
          disabled: !policy(comment).destroy?,
          class: "destroy-comment-button",
          data: { turbo_frame: "object_comments" } do
        %>
          <%= comment.comment %>
        <% end %>
      </div>
    <% end %>

    <%= turbo_frame_tag "new_object_comment" do %>
      <%= link_to "Add comment",
        new_resource_comment_path(resource),
        class: "primary-button"
      %>
    <% end %>
  </div>
<% end %>