<%= turbo_frame_tag "object_comments" do %>
  <%= turbo_stream_from ["object_comments", resource] %>

  <div class="object-comments-container">
    <div class="object-current-comments-container">
      <% @comments.each do |comment| %>
        <div
          data-controller="popover"
          data-popover-url-value="<%= resource_comment_path(resource, comment) %>"
          data-action="mouseenter->popover#show mouseleave->popover#hide"
        >
          <%= button_to destroyable.present? ? resource_comment_path(resource, destroyable) : "#",
            method: :delete,
            disabled: destroyable.nil?,
            class: "destroy-comment-button",
            data: { turbo_frame: "object_comments", "action" => "click->popover#hide" } do
          %>
            <%= comment.comment %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= turbo_frame_tag "new_object_comment" do %>
      <%= link_to "Add comment",
        new_resource_comment_path(resource),
        class: "primary-button"
      %>
    <% end %>
  </div>
<% end %>