<% content_for :focused_header do %>
  Welcome <%= current_user.first_name %>!
<% end %>

<% content_for :focused_content do %>

<div
  data-controller="tabs"
  data-tabs-update-anchor-value="true"
  data-tabs-active-tab-class="active-tab"
>
  <div class="border-b">
    <nav data-tabs-target="list" aria-label="Tabs">
      <button id="spaces" data-action="click->tabs#change" data-tabs-target="tab">
        Spaces
      </button>

      <button id="recently-updated" data-action="click->tabs#change" data-tabs-target="tab">
        Recently updated
      </button>

      <button id="favorites" data-action="click->tabs#change" data-tabs-target="tab">
        Favorites
      </button>

      <button id="mentions" data-action="click->tabs#change" data-tabs-target="tab">
        Mentions
        <%= render(partial: 'mentions/count_badge', locals: {mentions_count: @mentions.count} ) %>
      </button>
    </nav>
  </div>

  <div data-tabs-target="panel" class="hidden">
    <%=
      turbo_frame_tag "spaces_frame",
        data: { turbo: false },
        src: spaces_path,
        loading: "lazy" do
    %>
      <%= render template: "application/components/loading" %>
    <% end %>
  </div>

  <div data-tabs-target="panel" class="hidden">
    <%=
      turbo_frame_tag "recently_updated_frame",
        data: { turbo: false },
        src: recently_updated_path,
        loading: "lazy" do
    %>
      <%= render template: "application/components/loading" %>
    <% end %>
  </div>

  <div data-tabs-target="panel" class="hidden">
    <%=
      turbo_frame_tag "favorites_frame",
        src: favorites_path,
        loading: "lazy" do
    %>
      <%= render template: "application/components/loading" %>
    <% end %>
  </div>

  <div data-tabs-target="panel" class="hidden">
    <%= render partial: "mentions/mentions_tab" %>
  </div>
</div>
<% end %>

<%= render partial: "focused_section" %>

<div class="mt-10 text-center text-sm text-gray-500">
  Use Ctrl+K or Cmd+K to open quick search
</div>