<% content_for :focused_header do %>
  Welcome <%= current_user.first_name %>!
<% end %>

<% content_for :focused_content do %>

<div data-controller="tabs" class="w-full">
  <div data-tabs-target="list" class="flex border-b">
    <button data-action="click->tabs#change" data-tabs-target="tab" class="py-2 px-4 text-blue-500 border-b-2 font-medium text-sm">
      Recently updated
    </button>

    <button data-action="click->tabs#change" data-tabs-target="tab" class="py-2 px-4 text-blue-500 border-b-2 font-medium text-sm">
      Favorites
    </button>

    <button data-action="click->tabs#change" data-tabs-target="tab" class="py-2 px-4 text-blue-500 border-b-2 font-medium text-sm">
      Tab 3
    </button>
  </div>

  <div data-tabs-target="panel" class="py-4">
    <%= render partial: "recently_updated_documents_tab" %>
  </div>

  <div data-tabs-target="panel" class="py-4">
    <%=
      turbo_frame_tag "favorites_frame",
        src: favorites_path,
        loading: "lazy" do
    %>
      <%= render template: "application/components/loading" %>
    <% end %>
  </div>

  <div data-tabs-target="panel" class="py-4">
    Content for Tab 3
  </div>
</div>

<% end %>

<%= render partial: "focused_section" %>