<% content_for :focused_header do %>
  Welcome <%= current_user.first_name %>!
<% end %>

<% content_for :focused_content do %>

<div
  data-controller="tabs"
  data-tabs-update-anchor-value="true"
  data-tabs-active-tab-class="active-tab"
>
  <div class="border-b border-gray-200">
    <nav data-tabs-target="list" aria-label="Tabs">
      <button id="recently-updated" data-action="click->tabs#change" data-tabs-target="tab">
        Recently updated
      </button>

      <button id="favorites" data-action="click->tabs#change" data-tabs-target="tab">
        Favorites
      </button>

      <button id="tab3" data-action="click->tabs#change" data-tabs-target="tab">
        Tab 3
      </button>
    </nav>
  </div>

  <div data-tabs-target="panel">
    <%= render partial: "recently_updated_documents_tab" %>
  </div>

  <div data-tabs-target="panel">
    <%=
      turbo_frame_tag "favorites_frame",
        src: favorites_path,
        loading: "lazy" do
    %>
      <%= render template: "application/components/loading" %>
    <% end %>
  </div>

  <div data-tabs-target="panel">
    Content for Tab 3
  </div>
</div>

<% end %>

<%= render partial: "focused_section" %>