<% user = organization_user.user %>

<tr id="<%= dom_id(organization_user) %>">
  <th scope="row">
    <div>
      <div class="text-base font-semibold"><%= user.first_name %> <%= user.last_name %></div>
      <div class="font-normal text-gray-500"><%= user.email %></div>
    </div>
  </th>
  <td>
    <%= organization_user.role %>
  </td>
  <td>
    <%= render partial: "users/online_status", locals: { current_organization: current_organization, user: user } %>
  </td>
  <td>
    <% if policy(organization_user).promote? %>
      <%= button_to "Promote to manager", promote_organization_user_path(organization_user), form: { data: { turbo_confirm: "Are you sure you want to promote that user?" } }, class: "link-button", method: :patch %>
    <% end %>

    <% if policy(organization_user).demote? %>
      <%= button_to "Demote to member", demote_organization_user_path(organization_user), disabled: organization_user.user == current_user, form: { data: { turbo_confirm: "Are you sure you want to demote that user?" } }, class: "link-button", method: :patch %>
    <% end %>

    <% if policy(organization_user).destroy? %>
      <%= button_to "Remove user", organization_user_path(organization_user), form: { data: { turbo_confirm: "Are you sure? This user will be immediately removed from the organization!" } }, class: "link-button", method: :delete %>
    <% end %>
  </td>
</tr>