<section class="form-section">
  <h2 class="form-header">Edit organization</h2>

  <%= form_for(@organization, data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: @organization %>

    <div class="form-field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, autofocus: true, class: "form-input" %>
    </div>

    <div class="flex justify-end mt-6">
      <%= f.submit "Save", class: "form-submit" %>
      <%= link_to "Cancel", organization_path(@organization), class: "secondary-button ml-2" %>
    </div>
  <% end %>
</section>