<section class="form-section">
  <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Create organization</h2>

  <%= form_for(@organization, url: organizations_path, html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: @organization %>

    <div class="my-5">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex justify-end mt-6">
      <%= f.submit "Create", class: "form-submit" %>
    </div>
  <% end %>
</section>