<%= turbo_stream_from ["organization_users_list", @organization] %>

<% content_for :focused_breadcrumbs do %>
  <li>
    <div class="flex">
      <a href="#" class="text-sm font-medium text-gray-500 hover:text-gray-700">
        <%= link_to "Organizations", organizations_path %>
      </a>
    </div>
  </li>
<% end %>

<% content_for :focused_header do %>
  <%= @organization.name %>
<% end %>

<% content_for :focused_header_buttons do %>
  <div class="mt-4 flex md:ml-4 md:mt-0">
    <%= button_to "Switch to", select_organization_path(@organization), method: :post, class: "secondary-button" %>

    <% if policy(@organization).update? && policy(@organization).destroy? %>
      <% content_for :button_group_primary_buttons do %>
        <%= link_to 'Edit', edit_organization_path(@organization), class: "first-button-group ml-2" %>
      <% end %>

      <% content_for :button_group_dropdown_menu do %>
        <%= button_to "Delete", organization_path(@organization), form: { data: { turbo_confirm: "Are you sure? Your organization will be immediately removed!" } }, data: {"dropdown-target" => "menuItem"}, role: "menuitem", tabindex: "-1", method: :delete %>
      <% end %>

      <%= render template: "application/components/button_group" %>
    <% end %>
  </div>
<% end %>

<% content_for :focused_content do %>
  <div class="table-legend">
    <div class="table-legend-description">
      <h1>Users</h1>
      <p>A list of all the users in your organization.</p>
    </div>

    <% if policy(@organization).invite_user? %>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%= link_to 'Add user', new_invited_user_invitation_path(organization_npi: @organization.npi), class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>

  <table class="table-list">
    <thead>
    <tr>
      <th scope="col">
        Name
      </th>
      <th scope="col">
        Role
      </th>
      <th scope="col">
        Status
      </th>
      <th scope="col">
        Action
      </th>
    </tr>
    </thead>
    <tbody id="users">
    <% @organization.organization_users.preload(:user).filter(&:user).each do |organization_user| %>
      <%= render partial: "organizations/organization_user", locals: { organization_user: organization_user, current_organization: @organization } %>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= render partial: "focused_section" %>