<section class="form-section">
  <h2 class="form-header">Edit team</h2>

  <%= form_for(@team) do |f| %>
    <%= render "devise/shared/error_messages", resource: @team %>

    <div class="form-field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-input" %>
    </div>

    <div class="form-field">
      <%= f.label :shortcut %><br />
      <%= f.text_field :shortcut, autofocus: true, class: "form-input" %>
    </div>

    <div class="flex justify-end mt-6">
      <%= f.submit "Save", class: "form-submit" %>
    </div>
  <% end %>
</section>