<section class="form-section">
  <h2 class="form-header">Add team members</h2>

  <%= form_for(@team_membership, url: team_memberships_path, html: { method: :post }) do |f| %>
    <%= f.hidden_field :team_id, value: @team.id %>

    <%= render "devise/shared/error_messages", resource: @team_membership %>

<!--    <div class="form-field">-->
<!--      <%#= f.label :shortcut %><br />-->
      <%#= f.text_field :shortcut, autofocus: true, class: "form-input" %>
<!--    </div>-->

    <div data-controller="user-selector">
      <%= f.label :user %><br />

      <select name="team_membership[user_ids][]" id="user-selector" multiple data-user-selector-target="select">
        <% @team_membership.team.users.each do |user| %>
          <option value="<%= user.id %>"><%= user.display_name %></option>
        <% end %>
      </select>

      <input type="text" placeholder="Search users..." data-action="input->user-selector#search" data-user-selector-target="input">

      <div id="suggestions" data-user-selector-target="suggestions"></div>
    </div>

    <div class="flex justify-end mt-6">
      <%= f.submit "Add", class: "form-submit" %>
    </div>
  <% end %>
</section>