<aside class="bg-white border-r overflow-auto">
  <div class="px-4 pb-4 flex flex-col h-full">
    <%= render partial: "application/left_side_bar/space_bar" %>
    <div class="flex flex-col h-full" data-controller="visibility" data-action="toggle-button:change->visibility#onChange">
      <div class="flex justify-between items-center text-center">
        <div class="mx-4 py-2 font-bold text-xs text-slate-600 uppercase">Tables</div>
      </div>

      <div>
        <div class="text-slate-400 mx-2 p-2 hidden only:block">No tables in this space</div>
        <ul data-controller="draggable" data-draggable-target="item" data-space-npi="<%= @space.npi %>">
          <% @space.tables.each do |table| %>
            <li class="text-slate-800 flex items-center w-full">

              <div class="flex items-center w-full group/table">
                <%= link_to space_table_path(@space, table), class: "flex items-center w-full group" do %>
                  <div class="flex-grow flex items-center w-full <%= @table == table ? "bg-blue-100 hover:bg-blue-200 active:bg-blue-300" : "hover:bg-gray-100 active:bg-gray-200" %>">
                    <div class="pt-1 mx-2.5 -mt-[0.3rem]">•</div>
                    <div class="text-left mx-0 p-2 truncate">
                      <%= table.name %>
                    </div>
                    <div class="ml-auto">
                    </div>
                  </div>
                <% end %>
                <%= link_to space_table_path(@space, table), data: { turbo_method: :delete }, class: "absolute left-64 group/trash-link" do %>
                  <div class="relative top-0.5 group-hover/table:visible invisible bg-gray-500 group-hover/trash-link:bg-gray-800 -left-1 m-1 p-3 size-5 icon-[heroicons--trash]"></div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="mt-2 flex items-center hover:bg-gray-100 active:bg-gray-200 text-slate-500">
        <%= link_to new_space_table_path(@space), class: "flex flex-grow items-center" do %>
          <span class="ml-1 size-5 icon-[heroicons--plus-16-solid]"></span>
          <span class="text-left mx-0 p-2">New table</span>
        <% end %>
      </div>

    </div>
  </div>
</aside>
