<aside class="bg-white border-r overflow-auto">
  <div class="px-4 pb-4 flex flex-col h-full">
    <%= render partial: "application/left_side_bar/space_bar" %>
    <div class="flex flex-col h-full" data-controller="visibility" data-action="toggle-button:change->visibility#onChange">
      <div class="flex justify-between items-center text-center">
        <div class="mx-4 py-2 font-bold text-xs text-slate-600 uppercase">Tables</div>
      </div>

      <div>
        <div class="text-slate-400 mx-2 p-2 hidden only:block">No tables in this space</div>
        <ul data-controller="draggable" data-draggable-target="item" data-space-npi="<%= @space.npi %>">
          <% @tables.each do |table| %>
            <li class="relative w-64 group/table-item-link">
              <%= link_to space_table_path(@space, table), class: "flex flex-row h-9 group-hover/table-item-link:bg-gray-100" do %>
                <div class="flex flex-row items-center w-full">
                  <div class="mx-2.5">•</div>
                  <div class="text-left pr-16 truncate">
                    <%= table.name %>
                  </div>
                </div>
              <% end %>
              <%= link_to edit_space_table_path(@space, table), class: "absolute right-8 top-1 size-7 p-1 hover:bg-gray-200 group/action-link" do %>
                <div class="group-hover/table-item-link:opacity-100 opacity-0 transition-opacity duration-300 bg-gray-400 size-5 group-hover/action-link:bg-gray-800 icon-[heroicons--pencil]"></div>
              <% end %>
              <%= link_to space_table_path(@space, table), data: { turbo_method: :delete, turbo_confirm: "Are you sure? Deleted table cannot be restored." }, class: "absolute right-1 top-1 size-7 p-1 hover:bg-gray-200 group/action-link" do %>
                <div class="group-hover/table-item-link:opacity-100 opacity-0 transition-opacity duration-300 bg-gray-400 size-5 group-hover/action-link:bg-gray-800 icon-[heroicons--trash]"></div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="mt-2 flex items-center hover:bg-gray-100 active:bg-gray-200 text-slate-500">
        <%= link_to new_space_table_path(@space), class: "flex flex-grow items-center" do %>
          <span class="ml-1 size-5 icon-[heroicons--plus-16-solid]"></span>
          <span class="text-left mx-0 p-2">New table</span>
        <% end %>
      </div>

    </div>
  </div>
</aside>
