<div
  data-controller="dropdown"
  data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
  class="inline-block relative flex items-center">

  <button
    id="user-dropdown"
    data-action="dropdown#toggle:stop"
    class="flex items-center"
    aria-expanded="true"
    aria-haspopup="true">
      <%= render UserAvatar.new(user: current_user) %>
  </button>

  <div
    data-dropdown-target="menu"
    class="hidden absolute top-5 right-0 z-10 mt-5 flex w-screen max-w-max"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="user-dropdown"
  >
    <div class="dropdown-container w-32">
      <%= link_to "Account", edit_user_registration_path, data: {"dropdown-target" => "menuItem"} %>

      <%= link_to "Organizations", organizations_path, data: {"dropdown-target" => "menuItem"} %>

      <%= link_to "Teams", teams_path, data: {"dropdown-target" => "menuItem"} %>

      <%= link_to "API Tokens", user_api_tokens_path(current_user), data: {"dropdown-target" => "menuItem"} %>

      <hr class="border-t dark:border-gray-500" />

      <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: {"dropdown-target" => "menuItem"}  %>
    </div>
  </div>
</div>