<div id="<%= dom_id(public_link, :allowed_emails_form) %>">
  <%= form_with url: public_link_allowed_emails_path(public_link), 
        method: :post,
        data: { turbo: true },
        class: "flex flex-col gap-2" do |f| %>

    <div class="flex flex-row gap-2 w-full items-start items-center">
      <div class="flex-grow">
        <%= f.email_field :email,
          value: "",
          class: "form-input w-full text-xs my-0",
          placeholder: "Enter email address to share with",
          autocomplete: "email" %>
      </div>

      <%= f.submit "Add", class: "primary-button" %>
    </div>

    <% if defined?(error) && error.present? %>
      <div class="text-red-600 text-sm mt-1"><%= error %></div>
    <% end %>
<% end %>
</div>