<div class="px-4 py-5 sm:p-6">
  <h3 class="text-base font-semibold leading-6">Share this document</h3>
  <div class="mt-2 max-w-xl text-sm">
    <p>
      This document is available for public access using this link:
    </p>
    <div class="my-2">
      <code>
        <%= url_for(controller: "public", action: "show", npi: public_link.npi, host: request.host, protocol: request.protocol) %>
      </code>
    </div>
    <% if Flipper.enabled?(:sharing_with_email) %>
      <div class="my-2">
        <div>External stakeholders having access:</div>
        <% public_link.allowed_users.each do |allowed_user| %>
          <div class="flex items-center gap-2">
            <%= render OrganizationUserAvatarComponent.new(organization_user: allowed_user) %>
            <div class="inline-block">
             <%= render UserWithEmail.new(organization_user: allowed_user) %>
            </div>
          </div>
        <% end %>
        <%= form_for public_link do |f| %>
          <%= f.email_field :allowed_emails, value: "test@wp.pl", class: "form-input", placeholder: "Type email address" %>
          <%= f.submit "Share", class: "primary-button" %>
        <% end %>
      </div>
    <% end %>
    <p>
      You can see all documents shared publicly
      <%= link_to "here", public_links_path, class: "link-button", data: { turbo: false }, class: "default-link"  %>.
    </p>
  </div>

  <% if policy(public_link.object.space).update? %>
    <div class="mt-5 inline-flex">
      <%= button_to "Refresh", public_link_path(public_link), method: :patch, form: { data: { turbo_confirm: "Are you sure? Previous public link will stop working immediately!" } }, class: "secondary-button mr-2" %>

      <%= button_to "Delete", public_link_path(public_link), method: :delete, form: { data: { turbo_confirm: "Are you sure? Public link will be removed immediately!" } }, class: "secondary-button" %>
    </div>
  <% end %>
</div>
