<tr id="<%= dom_id(public_link) %>">
  <th scope="row">
    <div>
      <div class="text-base font-semibold truncate">
        <%=
          link_to(polymorphic_path([public_link.object.space, public_link.object])) do
            public_link.object.title
          end
        %>
      </div>
      <div class="font-normal text-gray-500 truncate">
        Shared by <%= link_to public_link.updated_by.display_name, public_link.updated_by %>
      </div>
    </div>
  </th>
  <td>
    <%= link_to "Public Link", "/public/#{public_link.npi}" %>
  </td>
  <td>
    <% if policy(public_link.object.space).update? %>
      <%= button_to "Refresh", public_link_path(public_link), method: :patch, form: { data: { turbo_confirm: "Are you sure? Previous public link will stop working immediately!" } }, class: "link-button" %>

      <%= button_to "Delete", public_link_path(public_link), method: :delete, form: { data: { turbo_confirm: "Are you sure? Public link will be removed immediately!" } }, class: "link-button" %>
    <% end %>
  </td>
</tr>

