<div
  data-controller="dropdown"
  data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
  class="inline-block relative">

  <button
    id="content_menu_button"
    data-action="dropdown#toggle:stop"
    class="document-toolbar-button"
    aria-expanded="true"
    aria-haspopup="true"
  >
    <svg class="h-5" fill="currentColor" stroke="currentColor"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
  </button>

  <div
    data-dropdown-target="menu"
    class="hidden absolute top-5 right-0 z-10 mt-5 flex w-screen max-w-max"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="content_menu_button"
    tabindex="-1"
  >
    <div class="dropdown-container w-56">
      <% if content.is_a?(Document) %>
        <%= link_to_with_disable "Document history",
          document_version_path(content, "latest"),
          disabled: content.versions.empty?,
          title: content.versions.empty? ? "No document history yet, save a version first" : nil,
          data: { "dropdown-target" => "menuItem" },
          role: "menuitem",
          tabindex: "-1"
        %>

        <%= link_to_with_disable "Move",
          select_destination_document_path(content),
          disabled: !policy(space).update?,
          data: { "dropdown-target" => "menuItem", turbo_frame: "modal", action: "modal#open" },
          role: "menuitem",
          tabindex: "-1"
        %>
      <% end %>

      <% if content.archived? %>
        <%= button_to "Restore",
          polymorphic_path([content]),
          method: :put,
          params: { content.model_name.to_s.downcase => { archived: false } },
          form: {
            data: { turbo_confirm: "Restore this #{content.is_a?(Table) ? "table" : "document"}? This will make it visible in the default view." } },
          disabled: !policy(content).update?,
          data: { "dropdown-target" => "menuItem" },
          role: "menuitem",
          tabindex: "-1"
        %>
      <% else %>
        <%= button_to "Archive",
          polymorphic_path([content]),
          method: :put,
          params: { content.model_name.to_s.downcase => { archived: true } },
          form: { data: { turbo_confirm: "Mark this #{content.is_a?(Table) ? "table" : "document"} as archived? This will hide it from default view." } },
          disabled: !policy(content).update?,
          data: { "dropdown-target" => "menuItem" },
          role: "menuitem",
          tabindex: "-1"
        %>
      <% end %>

      <%= button_to "Delete",
        polymorphic_path([content]),
        method: :delete,
        form: { data: { turbo_confirm: "Are you sure? Deleted #{content.is_a?(Table) ? "table" : "document"} cannot be restored." } },
        disabled: !policy(content).destroy?,
        data: { "dropdown-target" => "menuItem" },
        role: "menuitem",
        tabindex: "-1"
      %>

      <hr class="border-t" />

      <%= link_to_with_disable "Automations",
        space_automations_path(content.space),
        disabled: !policy(space).update?,
        data: { "dropdown-target" => "menuItem" },
        role: "menuitem",
        tabindex: "-1"
      %>
    </div>
  </div>
</div>
