<!DOCTYPE html>
<html>
<head>
  <title>
    <%= ["Fundamento", try(:subtitle)].compact.join(" | ") %>
  </title>

  <link rel="icon" href="<%= image_path "fundamento-logo-color-flat.svg" %>" type="image/svg+xml">
  <link rel="apple-touch-icon" href="<%= image_path "apple-icon.png" %>" type="image/png" sizes="180x180"/>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-scroll" content="preserve">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%#= javascript_importmap_tags %>

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_javascript_tag 'application' %>

  <% if Rails.application.credentials.google_tag_manager_id.present? %>
    <%= render partial: "layouts/google_tag_manager", locals: { gtm_id: Rails.application.credentials.google_tag_manager_id } %>
  <% end %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>
<% body_class ||= nil %>
<%= tag.body data: {
  controller: "modal",
  action: "click->modal#backdropClose"
}, class: {
  body_class => body_class.present?
} do %>
  <script>
    window.FundamentoConfig = {
      sentryDsn: <%= Rails.application.credentials.dig(:sentry, :frontend_dsn).to_json.html_safe %>,
      replaysSessionSampleRate: <%= replays_session_sample_rate %>,
      plausibleDomain: <%= ENV["PLAUSIBLE_DOMAIN"].to_json.html_safe %>,
      <% unless Flipper.enabled?(:standalone) %>
        posthogKey: <%= ENV["POSTHOG_KEY"].to_json.html_safe %>,
        twitterPixelId: <%= ENV["TWITTER_PIXEL_ID"].to_json.html_safe %>,
        redditPixelId: <%= ENV["REDDIT_PIXEL_ID"].to_json.html_safe %>,
        <% if current_user.present? %>
          currentUserId: <%= current_user.id.to_json.html_safe %>,
          currentUserEmail: <%= current_user.email.to_json.html_safe %>,
        <% end %>
      <% end %>
    };
  </script>

  <%= turbo_stream_from ["online_users", current_organization], channel: OnlineUsersChannel if current_user && current_organization %>

  <%= yield %>

  <dialog data-modal-target="dialog" class="backdrop:bg-black/80 dark:text-white">
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white dark:!bg-gray-800 px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">

          <div class="absolute right-0 top-0 pr-4 pt-4 sm:block">
            <button data-action="modal#close" class="rounded-md bg-white dark:!bg-gray-800 text-gray-400 dark:text-gray-500 hover:text-gray-500 dark:hover:text-gray-400">
              <span class="sr-only">Close</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <%= turbo_frame_tag "modal", data: {dialog_target: "frame"} %>
        </div>
      </div>
    </div>
  </dialog>

  <div id="flashes"
       data-controller="flash-manager"
       class="fixed top-0 w-full flex flex-col items-end pointer-events-none z-50">
    <%= render partial: "flash_messages_as_alerts" %>
  </div>

  <%= command_palette %>

  <% if Flipper.enabled?(:livechat) %>
    <%= render partial: "layouts/livechat" %>
  <% end %>

  <% unless Flipper.enabled?(:standalone) %>
    <% if ENV["TWITTER_PIXEL_ID"].present? %>
      <%= render partial: "layouts/twitter_pixel" %>
    <% end %>
    <% if ENV["REDDIT_PIXEL_ID"].present? %>
      <%= render partial: "layouts/reddit_pixel" %>
    <% end %>
    <%= render partial: "layouts/cookie_banner" %>
  <% end %>
<% end %>
</html>
