<!DOCTYPE html>
<html>
<head>
  <title>
    <%= ["Fundamento", try(:subtitle)].compact.join(" | ") %>
  </title>

  <link rel="icon" href="<%= image_path "logo.svg" %>" type="image/svg+xml">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-scroll" content="preserve">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%#= javascript_importmap_tags %>

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_javascript_tag 'application' %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>
<body data-controller="modal" data-action="click->modal#backdropClose">
  <script>
    window.FundamentoConfig = {
      sentryDsn: <%= Rails.application.credentials.dig(:sentry, :frontend_dsn).to_json %>,
    };
  </script>

  <%= turbo_stream_from ["online_users", current_organization], channel: OnlineUsersChannel if current_user %>

  <%= yield %>

  <dialog data-modal-target="dialog" class="backdrop:bg-black/80">
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">

          <div class="absolute right-0 top-0 pr-4 pt-4 sm:block">
            <button data-action="modal#close" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <span class="sr-only">Close</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <%= turbo_frame_tag "modal", data: {dialog_target: "frame"} %>
        </div>
      </div>
    </div>
  </dialog>
</body>
</html>
