<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-scroll" content="preserve">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%#= javascript_importmap_tags %>

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_javascript_tag 'application' %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>
<body data-controller="modal" data-action="click->modal#backdropClose">
  <%= render "nav_bar" %>

  <%= turbo_stream_from ["online_users", current_organization], channel: OnlineUsersChannel if current_user %>

  <%= yield %>

  <dialog data-modal-target="dialog" class="p-8 rounded-lg backdrop:bg-black/80">
    <button class="font-bold float-right" data-action="dialog#close">X</button>

    <%= turbo_frame_tag "modal", data: {dialog_target: "frame"} %>
  </dialog>
</body>
</html>
