<%= render "layouts/body" do %>
  <div class="h-screen">
    <div class="h-full grid grid-cols-[min-content_minmax(200px,_3fr)_min-content]">
      <%= render "application/left_sidebar" %>

      <div class="h-screen overflow-y-auto content-container">
        <nav class="w-full flex justify-end p-3 gap-1 items-center">
          <%= content_for :content_menu %>

          <div class="ml-3">
            <%= render "application/user_menu" %>
          </div>
        </nav>

        <%= yield %>
      </div>

      <%= tag.aside(
        id: "content-sidebar",
        class: {
          "content-sidebar w-[300px] overflow-visible group/collapser [&.collapsed]:w-5 transition-all" => true,
          "collapsed" => cookies["ikigai_userPreferences_contentSideBarExpanded"] == "false",
        },
        data: {
          "controller" => "cookie-controlled-toggle",
          "cookie-controlled-toggle-cookie-key-value" => "ikigai_userPreferences_contentSideBarExpanded",
          "cookie-controlled-toggle-target" => "toggleable",
          "toggle-class" => "collapsed",
          "cookie-controlled-toggle-open-value" => !(cookies["ikigai_userPreferences_contentSideBarExpanded"] == "false"),
        }) do
      %>
        <div class="relative z-10">
          <div class="absolute size-7 content-container border top-4 -left-3.5 rounded-full opacity-0 group-hover/collapser:opacity-100 group-[.collapsed]/collapser:opacity-100 transition-opacity cursor-pointer hover:bg-gray-100 hover:dark:bg-gray-500"
               data-controller="hotkey popover"
               data-hotkey="]"
               data-action="click->cookie-controlled-toggle#toggle touch->cookie-controlled-toggle#toggle mouseenter->popover#show mouseleave->popover#hide"
          >
            <span class="icon-[heroicons--chevron-right-16-solid] size-4 ml-1.5 mt-[4px] block group-[.collapsed]/collapser:hidden"></span>

            <template data-popover-target="content">
              <div data-popover-target="card" class="bg-gray-800 text-gray-50 text-xs p-2 w-24 flex flex-row items-center justify-center rounded absolute group-[:not(.collapsed)]/collapser:!left-8 group-[.collapsed]/collapser:right-8 -top-1">
                <p class="block group-[.collapsed]/collapser:hidden">Collapse <span class="font-monospace bg-gray-700 rounded p-1 px-2">]</span></p>
                <p class="hidden group-[.collapsed]/collapser:block">Expand <span class="font-monospace bg-gray-700 rounded p-1 px-2">]</span></p>
              </div>
            </template>
            <span class="icon-[heroicons--chevron-left-16-solid] size-4 ml-1.5 mt-[4px] hidden group-[.collapsed]/collapser:block"></span>
          </div>
        </div>

        <div class="h-full overflow-auto group-[.collapsed]/collapser:hidden">
          <% if content_for?(:content_sidebar) %>
            <%= content_for :content_sidebar %>
          <% else %>
            <%
              if defined?(@document)
                object = @document
              elsif defined?(@table)
                object = @table
              end
            %>

            <%= turbo_frame_tag "content_sidebar", data: { turbo: false }, src: polymorphic_path([:sidebar, object]) do %>
              <%= render SidebarLoadingComponent.new %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="flashes" class="fixed top-0 w-full flex flex-col items-end pointer-events-none">
    <%= render partial: "flash_messages_as_alerts" %>
  </div>
<% end %>
