<%= render "layouts/body", body_class: "overflow-hidden content-container" do %>
  <div class="h-screen">
    <%# Grid layout: spacers create the layout structure %>
    <div class="h-full lg:grid lg:grid-cols-[auto_minmax(400px,_1fr)_auto]">

      <%# Left sidebar with spacer %>
      <%= render "application/left_sidebar" %>

      <%= turbo_frame_tag "content", class: "contents", data: { turbo_action: "advance" } do %>

        <%# Column 2: main content area %>
        <div class="h-screen content-container flex flex-col relative">
          <nav class="w-full flex justify-between p-3 gap-1 items-center min-h-15 max-h-15 border-b">
            <div class="flex-1 min-w-0">
              <%= content_for :content_title %>
            </div>

            <div class="flex gap-1 items-center">
              <%= content_for :content_menu %>

              <%= render "application/notifications_menu" %>

              <div class="mx-1">
                <%= render "application/user_menu" %>
              </div>
            </div>
          </nav>

          <div class="flex-1 min-h-0 overflow-y-auto pt-3 flex flex-col">
            <%= yield %>
          </div>
        </div>

        <%# Column 3: right sidebar with spacer %>
        <%= render "application/right_sidebar", object: @document || @table %>

      <% end %>

    </div>
  </div>
<% end %>
