<%= render "layouts/body" do %>
  <div class="h-screen full-width-container">
    <div class="h-full grid grid-cols-[minmax(10px,300px)_minmax(300px,_3fr)]">
      <%= render "application/left_sidebar" %>

      <div class="flex-col">
        <nav class="w-full flex justify-end p-3 gap-1 items-center">
          <%= content_for :content_menu %>

          <div class="ml-3">
            <%= render "application/user_menu" %>
          </div>
        </nav>

        <%= yield %>
      </div>
    </div>
  </div>

  <div id="flashes" class="fixed top-0 w-full flex flex-col items-end pointer-events-none">
    <%= render partial: "flash_messages_as_alerts" %>
  </div>
<% end %>
