<%= render "layouts/body" do %>
  <div class="h-screen">
    <div class="grid grid-cols-[min-content,minmax(300px,_3fr)]">
      <%= render "application/left_sidebar" %>

      <div class="h-screen overflow-y-auto content-container">
        <nav class="w-full flex justify-end p-3 gap-1 items-center">
          <%= content_for :content_menu %>

          <%= render "application/notifications_menu" %>

          <div class="ml-3">
            <%= render "application/user_menu" %>
          </div>
        </nav>

        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
